@model TestBingo.Models.Cartela

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cartela</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoTabela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoTabela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campo15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campo15)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartelaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
